<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit Submission Agreement</title>
    <div th:replace="fragments/Head :: Head" th:remove="tag"></div>
    <script type="text/javascript" th:src="@{/resources/js/moment.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/combodate.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var root = [[
        @
        {/
        }
        ]]
        ;
        var defaultrestriction = [[${defaultaccessrestriction}]];
        var prefix = "";
        /*]]>*/
    </script>
    <script>
        $(function () {
            $(".datedropdown").combodate({
                firstItem: 'name',
                minYear: new Date().getFullYear() - 10,
                maxYear: new Date().getFullYear() + 10
            });
        });
    </script>
    <script type="text/javascript" th:src="@{/resources/js/ValidateSsa.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/Populate.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/EditSsa.js}"></script>
</head>
<body>

<div th:replace="fragments/BodyHeader :: BodyHeader">body_header</div>

<div id="body_main">
    <div class="window">

        <div th:replace="fragments/Nav :: Nav"></div>

        <div id="content">
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

            <div id="printinfo"></div>

            <div class="alert_box" th:if="${nodeletes == '1'}">
                <p>No Transfer Requests were deleted.</p>
            </div>

            <div class="success_box" id="success_box_top" th:if="${weredeletes eq '1'}">
                <p>The following Transfer Requests were deleted: <span th:text="${deletedrsas}"></span>.</p>
            </div>

            <div class="alert_box" id="alert_box_top">
                <p>Please enter the missing values below.</p>
                <ul>
                    <li id="departmentiderr">Please select a "Department/Unit or Donor."</li>
                    <li id="recordstitleerr">Please enter a valid "Records Title."</li>
                    <li id="departmentheaderr">Please enter a valid "Head of Department/Unit."</li>
                    <li id="recordiderr">Please enter a valid "Record or Collection Identifier."</li>
                    <li id="nameerr">Please enter a valid "Department/Unit or Donor Contact: Name(s)."</li>
                    <li id="phoneerr">Please enter a valid "Department/Unit or Donor Contact: Phone(s)."</li>
                    <li id="emailerr">Please enter a valid "Department/Unit or Donor Contact: Email address(es)."</li>
                    <li id="addresserr">Please enter a valid "Department/Unit or Donor Contact: Campus Address(es)."
                    </li>
                    <li id="creationdateyearerr">Please enter a valid "Agreement Creation Date Year."</li>
                    <li id="creationdatemontherr">Please enter a valid "Agreement Creation Date Month."</li>
                    <li id="creationdatedayerr">Please enter a valid "Agreement Creation Date Day of the Month."</li>
                    <li id="copyrighterr">Please enter a valid "Copyright Statement(s)."</li>
                    <li id="accessrestrictionserr">Please enter a valid "Access Restrictions."</li>
                    <li id="effectivedateyearerr">Please enter a valid "Effective Date Year."</li>
                    <li id="effectivedatemontherr">Please enter a valid "Effective Date Month."</li>
                    <li id="effectivedatedayerr">Please enter a valid "Effective Date Day of the Month."</li>
                    <li id="retentionscheduleerr">Please enter a valid "Retention Schedule."</li>
                    <li id="retentionperioderr">Please enter a valid "Retention Period."</li>
                    <li id="descriptionstandardserr">Please enter a valid "Archival Description Standards."</li>
                    <li id="departmentmissingerr">There is no Department/Unit or Donor defined.</li>
                </ul>
                <p></p>
            </div>

            <div th:if="${created == '1'}">
                <div class="success_box" id="success_created">
                    <p>
                        New Submission Agreement with id=<span th:text="${ssasform.id}">ssa id</span> created.
                    </p>
                </div>
                <p></p>
            </div>

            <div th:if="${success == '1'}">
                <div class="success_box">
                    <p>New Submission Agreement modified.
                    </p>
                </div>
                <p></p>
            </div>

            <div th:if="${deleted == '1'}">
                <div class="success_box" id="success_deleted">
                    <p>Submission Agreement deleted.</p>
                </div>
                <p></p>
            </div>

            <div th:if="${emailrecips != '' and failed == '0' and invalidaddresses == '0'}">
                <div class="success_box">
                    <p>Submission Agreement approved. An email has been sent
                        to <span th:text="${emailrecips}">email recips</span>.
                    </p>
                </div>
                <p></p>
            </div>
            <div th:if="${emailrecips != '' and failed == '1' and invalidaddresses == '0'}">
                <div class="exception_box">
                    <p>Submission Agreement approved, but the attempt to send email to
                        <span th:text="${emailrecips}">email recips</span> failed.
                    </p>
                </div>
                <p></p>
            </div>

            <div th:if="${emailrecips != '' and invalidaddresses == '1'}">
                <div class="exception_box">
                    <p>Submission Agreement approved, but the attempt to send email to
                        <span th:text="${emailrecips}">email recips</span> failed due to one or more <b>invalid
                            addresses</b>.
                    </p>
                </div>
                <p></p>
            </div>


            <h1>Edit Submission Agreement</h1>

            <p><a th:href="@{/ListSsas}">Return to Submission Agreement Tasks main page</a></p>

            <p>
                Use the form below to edit a Submission Agreement. Upon
                approval, it will immediately become available for authorized users
                associated with the office to initiate transfers. To start the
                approval process, select <i>Approved</i> (at the bottom) and the required fields
                will be indicated. The delete option is only available when dependencies have been removed.
            </p>

            <div th:switch="*{ssasForm != null and ssasForm.rsasForms != null and ssasForm.rsasForms.size() > 0}">
                <div th:case="true">
                    <h4>This Agreement cannot be deleted due to dependencies.</h4>
                    <p><a th:href="@{/SsaDeleteWarning(ssaid=${ssasForm.id})}">See dependencies</a></p>
                </div>
                <div th:case="*">
                    <p th:if="*{ssasForm != null}"><a onclick="return confirm_delete()"
                                                      th:href="@{/DeleteSsa(ssaid=${ssasForm.id})}">Delete Submission
                        Agreement</a></p>
                </div>
            </div>

            <div th:replace="fragments/SsaForm :: SsaForm">SsaForm</div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        </div>

    </div>
</div>

<div th:replace="fragments/Footer :: Footer"></div>

</body>
</html>
