<html>
  <head>
    <!-- $Id: ApprovedDraftRsaSendToContacts.vm,v 1.21 2016-11-02 22:13:52-04 ericholp Exp $ -->
    <title>Approved Transfer Request:  $rsaid</title>
    <style>
      .maintable {
        padding: 0px;
        margin: 0px;
	border-spacing:0px;
	border-right: 0px;
	border-left: 0px;
	border-collapse:collapse; 
	margin-bottom: 0px;
      }
      ul {
        list-style: none;
      }
      ul li {
      }
    </style>
  </head>
  <body>
    
    <h2>Dear ${submitappinfo.name} User,</h2>
    
    <p>Draft Transfer Request, with the ID ${rsa.id} has been approved by ${session.getAttribute("name")} ${session.getAttribute("email")} with Accession Number ${rsa.accessionnumber}.</p>

    <p><b>Department/Unit or Donor Contact Information:</b>
    #if (!$rsa.ssasForm.ssaContactsForms || $rsa.ssasForm.ssaContactsForms.size()==0) 
       No contacts
    #else
      <ul>
	#foreach($contact in $rsa.ssasForm.ssaContactsForms)
	<li>${contact.name}, ${contact.phone}, ${contact.address}, ${contact.email}</li>
	#end
      </ul>
      #end
    </p>
    
    <h3>Record Submission Form information</h3>
    
    <p><b>Date spans of the records:</b>
      <span>
	<label>Beginning year</label>
	${rsa.startyear}
	<label>Ending year</label>
	${rsa.endyear}
      </span>
    </p>
    
 
    <p><b>Description/comments:</b> ${rsa.description}</p>
 
    #if (!${rsa.rsaFileDataForms} || ${rsa.rsaFileDataForms.size()} == 0) 
    <p><b>No files selected for transfer</b><br/>
    #else 
     <p><b>Files selected for transfer:</b>
     #set( $count = 1 )
      <table class="maintable" border="1">
        <tr><th>&nbsp;</th><th>name</th><th>size</th><th>date</th></tr>
	#foreach($file in ${rsa.rsaFileDataForms} )
        <tr><td>${count}</td><td>${file.name}</td><td>${file.nicesize}</td><td>${file.lastmoddatetime}</td></tr>
          #set( $count = $count + 1 )
        #end
      </table>
      #end
     </p>
    <p></p>
    <p></p>
    
    <p>Sincerely,</p>
    <p>${org.name} Staff</p>
    <p>${org.phone}</p>
    <p>https://${thishost}${submitappinfo.root}</p>

  </body>
</html>
