<html>
  <head>
    <!-- $Id: DeleteDraftRsasSendToStaff.vm,v 1.13 2016-11-02 22:13:32-04 ericholp Exp $ -->
    <title>Draft Transfer Deletes</title>
    <style>
      .maintable {
        padding: 0px;
        margin: 0px;
	border-spacing:0px;
	border-right: 0px;
	border-left: 0px;
	border-collapse:collapse; 
	margin-bottom: 0px;
      }
      ul {
        list-style: none;
      }
      ul li {
      }
    </style>
  </head>
  <body>
    <h2>Dear Archives Staff,</h2>

    <p>The user ${session.getAttribute("username")} has deleted the following Draft Transfer Requests ID:</p>

    #foreach($rsa in ${rsas} )
    
    <h3>Draft Transfer Requests ID ${rsa.id} with Submission Agreement ID ${rsa.ssasForm.id}</h3>
    
    <h4>Department/Unit or Donor Contact Information:</h4>
    #if (!$rsa.ssasForm.ssaContactsForms || $rsa.ssasForm.ssaContactsForms.size()==0) 
       <p>No contacts</p>
    #else
      <ul>
	#foreach($contact in ${rsa.ssasForm.ssaContactsForms})
	<li>${contact.name}, ${contact.phone}, ${contact.address}, ${contact.email}</li>
	#end
      </ul>
    #end
    
    <h3>Record Submission Form information</h3>
    
    <h4>Date spans of the records:</h4>
    <span>
    <label>Beginning year</label>
    ${rsa.startyear}
    <label>Ending year</label>
    ${rsa.endyear}
    </span>
    
 
    <h4>Description/comments:</h4>
    <p>${rsa.description}</p>
 
    <h4>Files selected for transfer:</h4>
    #set( $count = 1 )
    <table class="maintable" border="1">
      <tr><th>&nbsp;</th><th>name</th><th>size</th><th>date</th><th>status</th></tr>
      #foreach($item in ${rsa.rsaFileDataForms} )
        #if (${item.status} == "success")
          #set( $color = "black" )
        #else
          #set( $color = "red" )
        #end
        <tr><td>$count</td><td>${item.name}</td><td>${item.nicesize}</td><td>${item.lastmoddatetime}</td><td><font color="$color">${item.status}</font></td></tr>
        #set( $count = $count + 1 )
      #end
    </table>
    #end

    <p>Sincerely,</p>
    <p>The ${submitappinfo.name} (https://${thishost}${submitappinfo.root})</p>
    
  </body>
</html>
