<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    
    <div id="body_footer" th:fragment="Footer">
      <div class="window">
	<div class="CABS-white-background CABS-green-text" id="CABS-footer">
          <a href="http://www.msu.edu"><img alt="Michigan State University - Spartans Will." th:src="@{/resources/images/msu-footer-green.png}"/></a>
          <div id="CABS-footer-links">
            <a accesskey="6" href="http://archives.msu.edu/about/contact.php">Contact Us</a><a accesskey="0" href="http://archives.msu.edu/accessibility.php">Accessibility Policy</a><a href="http://archives.msu.edu/privacy.php">Privacy Policy</a><a accesskey="3" href="http://archives.msu.edu/sitemap.php">Site Map</a>
          </div>
          <div id="CABS-footer-text">
            &#169; Michigan State University <a href="http://trustees.msu.edu">Board of Trustees</a>. East Lansing, MI 48824, (517) 355-1855<br/> MSU is an affirmative-action, equal-opportunity employer. <a href="http://msu.edu">Visit msu.edu</a>
          </div>
	</div>
      </div>
    </div>

  </body>
</html>
