<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    
    <div th:fragment="SubmitRecordsNotLoggedIn">

      <h1>Electronic Records Submission Tool</h1>
      
      <p>Please log in using your username.</p>
      <br/>
      <form action="#" th:action="@{/Auth}" th:object="${loginData}" method="POST">
	<table class="table simpletable">
	  <tr><td><p><b>Username</b></p></td><td><div>
		<input name="username" class="username" type="text" th:field="*{username}"/>
	  </div></td></tr>
	  <tr><td><p><b>Password</b></p></td><td><div>
		<input name="password" type="password"  th:field="*{password}"/>
	  </div></td></tr>
	</table>
	<p></p>
	<div>
	  <input name="submit" type="submit" value="Log in"/>
	</div>
      </form>
      
      <div th:if="${badauth}">
	<p th:text="${loginmessage}">loginmessage</p>
	<p>Sorry, that username / password combination is not valid. Please try logging in again with a valid username.</p>
	<p>Note: This username must first be registered as a valid user 
	  of the Records Submission Tool. If you have further questions,
	  please contact University Archives 
	  <a th:href="@{mailto:{sem}(sem=${staff_email})}">here</a>.</p>
	<br/>
      </div>

    </div>
  </body>
</html>
